.login {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(100, 127, 147);
    padding: 20px 1px;
    border-radius: 4px;
    width: 50%;
    column-width: auto;
  }
  
  .login button {
    background-color: rgb(61, 166, 246);
    border: 1.5px rebeccapurple solid;
    border-radius: 4px;
    margin: 20px 8px;
    padding: 8px;
    cursor: pointer;
  }
  .login button:hover {
    background-color: rgb(91, 179, 247);
    border: 1.5px rgb(86, 32, 140) solid;
  }
  .login span {
      color: red;
  }
  .link{
    background-color: rgba(0, 0, 255, 0.708);
    color: red;
    border: 20px;
    &:hover{
      color: darkslategray;
      background-color:  whitesmoke;
      box-shadow: 0 5px 5px white;
    }
  }

  .inputsModificados{
    border-radius: 5px;
    background-color: aqua;
  }